body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", sans-serif;
}

h2,
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2[id="header"],
h3[id="header"] {
  margin-top: 0px;
  margin-bottom: 0px;
}

.headerstitle {
  font-family: "Raleway", sans-serif;
  font-size: 80%;
}

.time {
  color: grey;
  font-size: 90%;
}

a.black-link {
  color: black;
}
a.black-link:visited {
  color: black;
}

a {
  color: #4caf50;
}
a:visited {
  color: #396b3b;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
